/* IMPORTS */

/* UNIVERSAL */
*, *::before, *::after {

}

/* ROOT */

/* HTML */

/* BODY */
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url(/MEDIA/vaporwave.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* LIST STYLES */

/* ANCHOR STYLES */

/* BUTTON STYLES */

/* RESPONSIVE STYLES / LAYOUTS */

/* HEADING STYLES */
h1,
h2,
h3,
h4,
h5, 
h6 {
    color: black;
}
/* PARAGRAPH STYLES / LAYOUTS */

/* SPAN STYLES / LAYOUTS */
