/* Fonts & Imports */
@font-face {
    font-family: 'Blu';
    src: url(/assets/fonts/BluPurpl-PersonalUse.ttf);
}
@font-face {
    font-family: '##';
    src: url();
}
/* Root */
:root {
    
}
.test {
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid rgba(255, 255, 255, .4); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    /* Adjust */
    font-family: 'Blu', sans-serif;
    letter-spacing: .2rem;
    position: relative;
}
nav {
    max-width: 150px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 8rem 1rem 2rem;
    display: flex;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid red; */
}
.navbar {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}
.nav_item {
    width: fit-content;
    display: block;
    font-family: 'Blu', sans-serif;
    font-size: 1rem;
    letter-spacing: .2rem;
    cursor: pointer;
}
.nav_menu { 
    width: 220px;
    height: 300px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(
        to right,
        transparent,
        white
    );
    color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -220px;
    transition: all 700ms ease-in-out;
}
.nav_menu.show {
    width: 220px;
    height: 300px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to right,
        transparent,
        white
    );
    backdrop-filter: blur(8px);
    color: black;
    opacity: 1;
    position: absolute;
    top: 0;
    right: -300px;
    /* border: 2px solid blue; */
}
#navMenu2 {
    position: relative;
    z-index: 2;
}
#navMenu3 {
    position: relative;
    z-index: 3;
}
.nav_links {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 2rem;
    font-size: .8rem;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.nav_links a {
    width: fit-content;
    padding: .25rem;
    display: block;
}
.nav_links.show {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 2rem;
    font-size: .8rem;
    opacity: 1;
}
.nav_links.show a {
    width: fit-content;
    padding: .25rem;
    display: block;
    transition: all 700ms ease-in-out;
}
.nav_links.show  a:hover {
    transform: scale(120%);
    color: #561b19;
}

/*!!! FIX */
.test h1 {
    font-size: 5rem;
}
.test h4 {
    font-size: 1rem;
}
.test span {
    font-size: .75rem;
}

.responsive {
    width: 100%;
    min-width: 320px;
    max-width: 2160px;
    height: auto;
    margin: 0;
    padding: 2.3rem 2rem;
}
/* breaks at 1140px */
.hero {
    width: 100%;
    height: auto;
    margin-top: .27rem;
    margin-left: 383px;
    margin-right: auto;
    padding: 1rem 2rem;
    display: flex;
    background: linear-gradient(
        to right,
        white 0%,
        transparent 90%
    );
    font-size: .8rem;
    font-family: 'Blu', sans-serif;
    letter-spacing: .2rem;
    animation: heroSlide linear;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
    position: relative;
    z-index: 1;
}
@keyframes heroSlide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hero_feat {
    width: 100%;
    height: auto;
    margin: 1rem auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid red; */
}
.hero_feat_title {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.hero_feat_title h4 {

}
.hero_feat_title span {
    font-size: .6rem;
}
.hero_feat_thumb {
    margin: 2rem auto 2rem;
    display: flex;
    gap: 1rem;
    /* border: 2px solid green; */
}
.img_scaler {
    width: 320px;
    height: 320px;
    transition: all 700ms ease-in-out;
}
.img_scaler:hover img {
    filter: grayscale(0%);
} 
.img_scaler img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: all 700ms ease-in-out;
}
.hero_feat_sum {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero_feat_sum button {
    width: fit-content;
    margin: .5rem 0 1rem 0;
    font-size: .5rem;
    font-family: 'Blu', sans-serif;
    letter-spacing: .3rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    position: relative;
}
.hero_feat_sum button::before {
    width: 134px;
    height: 30px;
    content: '';
    background: rgba(0, 0, 0, .2);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}
.hero_feat_sum button:hover:before {
    width: 0px;
    height: 30px;
    content: '';
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.hero_feat_sum a {
    color: #561b19;
    text-decoration: underline;
}
.hero_details {
    display: none;
}